.profile__user-profession {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 641px) {
  .profile__user-profession {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin-top: 9px;
  }
}
